/* Colores */
:root {
	--orange-color: #ffc048;
	--dark-gray-color: #1e272e;
	--blue-color: #aebebb;
}
main {
	padding: 1rem 0 0 0;
}
main h2 {
	font-size: 2.5rem;
	text-align: center;
}
/* Table */
.container-table {
	background: white;
	border: 2px solid black;
	display: grid;
	grid-auto-rows: 100px;
	grid-template-columns: repeat(6, 1fr);
	margin: 50px auto;
	width: 90%;
}
.container-table-title,
.container-table-info {
	align-items: center;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: center;
	text-align: center;
}
.container-table-title {
	background: #ffc048;
	font-size: 1.3rem;
	font-weight: bold;
}
.container-table-info {
	border-left: 1px solid black;
	font-size: 1.1rem;
	padding: 1rem;
}
#id-row:nth-child(even) {
	background: whitesmoke;
}
