main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
main h2 {
    background: var(--orange-color);
    border-radius: 10px 10px 0 0;
	font-size: 2.2rem;
    padding: .3em 0;
    text-align: center;
    width: 45%;
}
#prestamo {
    align-content: center;
    background-color: whitesmoke;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	padding: 2rem;
	width: 45%;
}
#prestamo label {
	font-size: 20px;
}
#prestamo input {
	background: transparent;
	border: none;
	border-bottom: 2px solid black;
	border-radius: 3px;
	padding: 0.7rem 1.1rem;
}
#prestamo input:focus {
	outline: none;
}
#prestamo input:focus::placeholder {
	opacity: 0.6;
}
#prestamo select {
	border-radius: 6px;
	padding: 0.7rem 1.1rem;
}
#prestamo select option:checked {
	background: var(--orange-color);
}
#prestamo button {
    width: 100%;
}
