/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* General rules */
:root {
	--orange-color: #ffc048;
	--dark-gray-color: #1e272e;
	--blue-color: #aebebb;
}
* {
	box-sizing: border-box;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	color: #000;
	text-decoration: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}

/* -------------- BUTTONS -------------- */
.btn {
	background: var(--orange-color);
	border: none;
	border-radius: 30rem;
	color: #333;
	cursor: pointer;
	font-weight: 500;
	padding: 0.8rem 1rem;
	transition: background 200ms ease-out;
	width: fit-content;
}
.btn:hover {
	background: #e2a534;
}

/* -------------- NAVBAR -------------- */
.navbar {
	align-items: center;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0.6em 0;
	position: relative;
	text-transform: uppercase;
	top: 0;
}
.logo {
	transition: transform 250ms ease;
	width: 12%;
}
.logo:hover {
	transform: scale(1.025);
}
.navbar img {
	width: 100%;
}
.center-nav {
	display: flex;
	gap: 5em;
}
.center-nav a {
	position: relative;
	transition: color 200ms ease-out;
}
.center-nav a::before {
	background: #000;
	bottom: -2px;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	transition: width 200ms ease-out, color 200ms ease-out;
	width: 0%;
}
.center-nav a:hover::before {
	background: var(--orange-color);
	width: 100%;
}
.center-nav a:hover {
	color: var(--orange-color);
}
.select {
	align-items: center;
	display: flex;
	gap: 1em;
}
.select p {
	text-transform: capitalize;
}
i {
	background-color: var(--orange-color);
	border-radius: 50px;
	font-size: 20px;
	padding: 12.8px 1.5em;
	transition: background 200ms ease-out;
}
i:hover {
	background: #e2a534;
}
/* -------------- FIN NAVBAR -------------- */

/* -------------- INICIO ABOUT US -------------- */
.first-section {
	display: flex;
	left: 52%;
	margin-top: 3.5rem;
	position: relative;
	transform: translate(-50%);
	width: 90%;
}
.left-section {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-right: 6rem;
	width: 50%;
}
.eslogan {
	font-family: "Lobster", cursive;
	font-size: 66px;
}
.left-section span {
	color: var(--orange-color);
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: bold;
	left: 3rem;
	position: relative;
}
.left-section span::before {
	background: var(--orange-color);
	content: "";
	height: 0.2em;
	left: -2em;
	position: absolute;
	top: 50%;
	width: 1.7em;
}
.right-section {
	align-items: center;
	display: flex;
	justify-content: center;
	/* outline: 3px solid red; */
	width: 50%;
}
.right-section img {
	border-radius: 10rem 50rem 10rem 1rem;
	object-fit: cover;
	transition: transform 200ms ease;
	width: 100%;
}
.right-section img:hover {
	transform: scale(1.025);
}
/* -------------- FIN ABOUT US -------------- */

/* -------------- Cards -------------- */
.second-section {
	align-items: center;
	display: flex;
	height: 50vh;
	justify-content: center;
}
.second-section .container-cards {
	background: #e9ecef;
	border-radius: 1rem;
	box-shadow: 10px 5px 10px 0px lightgray;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: space-around;
	padding: 1rem;
	width: 80%;
}
.second-section .card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 2rem 0.5rem;
	width: 100%;
}
.second-section .card:is(:nth-child(-n + 2)) {
	border-right: 1px solid #adb5bd;
}
.second-section .card h2 {
	text-align: center;
}
.second-section .card p {
	text-align: center;
	width: 31ch;
}
.second-section .card a {
	align-self: center;
	background: white;
	border-radius: 1rem;
	box-shadow: 1px 1px 5px 0px #adb5bd;
	padding: 0.5rem 1rem;
	transition: background 200ms ease-out;
	width: fit-content;
}
.second-section .card a:hover {
	background: lightgray;
}
/* -------------- Fin Cards -------------- */

/* Editar Contraseña */
#editar-contrasena {
	background: var(--orange-color);
	border: none;
	border-radius: 30rem;
	color: #333;
	cursor: pointer;
	font-size: 13.3px;
	font-weight: 500;
	padding: 0.8rem 6rem;
	text-align: center;
	transition: background 200ms ease-out;
	-webkit-user-drag: none;
	user-select: none;
	width: 100%;
}
#editar-contrasena:hover {
	background: #e2a534;
}
/* Fin Editar Contraseña */

/* -------------- Footer -------------- */
footer {
	background-color: #e9ecef;
	display: flex;
	flex-direction: column;
	height: 220px;
	justify-content: center;
}
.footer-info {
	display: flex;
	gap: 3em;
	justify-content: center;
	padding: 1em 0;
}
footer .separador {
	background-color: #fff;
	height: 0.1em;
	margin: 0 auto;
	width: 100%;
}
footer .copyright {
	line-height: 3em;
	text-align: center;
}
footer a:hover {
	text-decoration: underline;
}
/* -------------- Fin Footer -------------- */
